@charset "utf-8";
/* 
CSS Document
Plugin: Geo2 Maps Add-on for NextGEN Gallery
Description: WordPress plugins page styles
Author: Pawel Block
Version: 2.0.0 
*/
	
/* Deactivation warning */
#geo2_defaults_reset.geo2_warning {
	display: block;
}

.geo2_modal {
	position: fixed;
	overflow: auto;
	height: 100%;
	width: 100%;
	top: 0;
	z-index: 100000;
	display: none;
	background: rgba(0,0,0,0.6);
}

.geo2_modal .geo2_modal-dialog {
	background: transparent;
	position: absolute;
	left: 50%;
	margin-left: -298px;
	padding-bottom: 30px;
	top: calc(50% - 144px);
	z-index: 100001;
	width: 596px;
}

.geo2_modal .geo2_modal-header {
    background: #143650;
    color: #fff;
    border-bottom: #eeeeee solid 1px;
    padding: 15px 20px;
    position: relative;
    margin-bottom: -10px;
}

.geo2_modal .geo2_modal-body {
  padding-top: 35px;
	border-bottom: 0;
}

.geo2_modal .geo2_modal-body, .geo2_modal .geo2_modal-footer {
    border: 0;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: 0px;
    background: #fefefe;
    padding: 20px;
        padding-top: 20px;
}

.geo2_modal .geo2_modal-body > div {
    margin-top: 10px;
}

.geo2_modal .geo2_modal-footer {
    border-top: #eeeeee solid 1px;
    text-align: right;
}

.geo2_modal .geo2_modal-body, .geo2_modal .geo2_modal-footer {
    border: 0;
        border-top-color: currentcolor;
        border-top-style: none;
        border-top-width: 0px;
    background: #fefefe;
    padding: 20px;
}

.geo2_modal a.button-secondary {
    border: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    height: 35px !important;
    padding: 0 24px !important;
    line-height: 35px;
    width: auto !important;
    border-radius: 3px;
		background: #eee;
}

.geo2_modal a.button-secondary:hover {
		background: #ccc;
}

.geo2_modal .geo2_modal-footer > .button:first-child {
    margin: 0;
}

.geo2_modal .geo2_modal-footer > .button {
    margin: 0 7px;
}

.geo2_modal a.button-primary {
    background-color: #9fbb1a !important;
    color: #fff !important;
    border: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    height: 35px !important;
    padding: 0 24px !important;
    line-height: 35px;
    width: auto !important;
    border-radius: 3px;
}

.geo2_modal .geo2_modal-header h4 {
    text-shadow: none;
    color: #fff;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 0.6px;
    -webkit-font-smoothing: antialiased;
}
